<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.dao.LeaveMapper">
  <resultMap id="BaseResultMap" type="com.cloud.common.entity.activiti.Leave">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="APPLY_USER_ID" jdbcType="VARCHAR" property="applyUserId" />
    <result column="START_TIME" jdbcType="VARCHAR" property="startTime" />
    <result column="END_TIME" jdbcType="VARCHAR" property="endTime" />
    <result column="REASON" jdbcType="VARCHAR" property="reason" />
    <result column="TYPE" jdbcType="CHAR" property="type" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, APPLY_USER_ID, START_TIME, END_TIME, REASON, TYPE, CREATE_TIME
  </sql>

</mapper>